<div class="jumbotron">
  <div class="container">
    <div class="row">

      <div class="col-md-9">

        <!-- Contains Video Player -->
        <div class="row">
          <div class="video-block">
            <video src=""></video>
          </div>
        </div>

        <!-- Info About Video -->
        <div class="row">

          <!-- Video Info -->
          <div class="content-video-block">
            <h3 class="video-title">Title</h3>
            <p class="video-views">Views</p>
          </div>

          <!-- Extra info about video -->
          <div class="about-video-block">
            <a class="video-channel">Channel Name</a>
            <p class="video-date">Date</p>
            <p class="video-desc">Video Desc</p>
          </div>          

        </div>

      </div>


      <div class="col-md-3">
        <div class="more-block">

        </div>
      </div>

    </div>
  </div>
</div>