<div class="jumbotron">
  <div class="container">
    <div class="row">

      <div class="col-md-7">

        <!-- Contains Video Player -->
        <div class="row">
          <div class="video-block">
            <video [src]="videoDetail.video_url" controls></video>
          </div>
        </div>

        <!-- Info About Video -->
        <div class="row">

          <!-- Video Info -->
          <div class="content-video-block">
            <h3 class="video-title">{{videoDetail.video_title}}</h3>
            <p class="video-details">
              <span>
                {{videoDetail.video_views | number}} Views
              </span>
              <span class="vide-detail-more pull-right">
                <i class="fa fa-ellipsis-h"></i>
              </span>
              <span class="vide-detail-share pull-right">
                <i class="fa fa-share"></i> Share
              </span>
              <span class="video-detail-like pull-right" (click)="onUnlikeVideo()">
                <i class="fa fa-thumbs-down"></i> {{videoDetail.video_dislikes | number}}
              </span>
              <span class="video-detail-like pull-right" (click)="onLikeVideo()">
                <i class="fa fa-thumbs-up"></i> {{videoDetail.video_likes | number}}
              </span>
            </p>

          </div>

          <!-- Extra info about video -->
          <div class="about-video-block">
            <a class="video-channel">{{videoDetail.video_channel}}</a>
            <p class="video-date">{{videoDetail.video_time | date}}</p>
            <p class="video-desc">{{videoDetail.video_desc}}</p>
          </div>

        </div>

      </div>


      <div class="col-md-3">
        <div class="more-block">

        </div>
      </div>

    </div>
  </div>
</div>