<div class="jumbotron">
  <div class="container">
    <div class="row">

      <div class="col-md-7">

        <!-- Contains Video Player -->
        <div class="row">
          <div class="video-block">
            <video src=""></video>
          </div>
        </div>

        <!-- Info About Video -->
        <div class="row">

          <!-- Video Info -->
          <div class="content-video-block">
            <h3 class="video-title">{{videoDetail.video_title}}</h3>
            <p class="video-views">{{videoDetail.video_views | number}} Views</p>
          </div>

          <!-- Extra info about video -->
          <div class="about-video-block">
            <a class="video-channel">{{videoDetail.video_channel}}</a>
            <p class="video-date">{{videoDetail.video_time | date}}</p>
            <p class="video-desc">{{videoDetail.video_desc}}</p>
          </div>          

        </div>

      </div>


      <div class="col-md-3">
        <div class="more-block">

        </div>
      </div>

    </div>
  </div>
</div>