<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">
        <img class="logo-image img-responsive" src="./assets/logo.png" alt="" />
        <span>MyTube</span>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a id="search-box">
            <input type="search" name="search" id="search" placeholder="Search">
            <i class="fa fa-search"></i>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="">
          <a routerLink="/signIn">Sign In</a>
        </li>
        <li routerLinkActive="">
          <a routerLink="/profile">
            <i class="fa fa-user"></i>
          </a>
        </li>
        <!-- <li routerLinkActive="">
            <a routerLink="/">Log Out</a>
          </li> -->
        <li routerLinkActive="">
          <a routerLink="/upload">
            <i class="fa fa-upload"></i>
          </a>
        </li>
        <!-- <li routerLinkActive="">
          <a routerLink="/">
            <i class="fa fa-bars"></i>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>