.navbar {
    height: 60px;
    margin-bottom: 0;
}
.navbar-header {
    margin-left: 70px;
    margin-right: 70px;  
    padding-top: 5px;  
}
.navbar-header .logo-image {    
    display: inline;
    width: 30px;
    height: auto;
}
.navbar-collapse {
    padding: 2px;
}

#search-box #search {
    width: 600px;        
    outline: none;   
    margin: 0; 
    padding: 3px;
    margin-right: -5px;
    padding-left: 10px;
    font-weight: 300;    
    border: 1px solid #aaa;
}
#search-box i {
    border: 1px solid #aaa;
    background: rgb(178, 209, 87);
    color: #111;
    padding: 5px 20px;
    margin: 0;
} 
.navbar-nav li a {    
    margin: 0;    
    font-size: 16px;
    padding-left: 30px; 
    padding-right: 30px;
}