<div class="jumbotron signIn">
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <form action="">
  
            <div class="form-group ">
              <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
              <input type="email" class="form-control" name="email" formControlName="email" required>
              <label for="email">Email</label>
            </div>
  
            <div class="form-group">
                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
              <input type="password" class="form-control" name="password" required>
              <label for="password">Password</label>
            </div>
  
            <div class="row submit-group">
              <a href="" class="btn submit-btn">Sign In</a>
            </div>
  
          </form>
          <div class="row">
            <p>
              Not a member ? <a routerLink="/signUp">Sign Up</a>  here for free !
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>