<div class="jumbotron">
  <div class="container">
  
    <div class="row video-section" *ngFor="let videoSection of videoSections">
      <h3>{{videoSection.section_title}}</h3>

      <div class="row">

          <div class="col-md-3" *ngFor="let videoDetail of videoSection.section_videoDetails">
            <div class="video-block">
              <div class="img-section">
                <img src="./assets/thumbnail.png" alt="" class="img-responsive">
              </div>
              <div class="content-section">
                <h3 class="content-title">
                  <a routerLink="/watch">
                    {{videoDetail.video_title}}
                  </a>
                </h3>
                <h4 class="content-channel">
                  <a href="">
                    {{videoDetail.video_channel}}
                  </a>
                </h4>
                <p>
                  <span>{{videoDetail.video_views}}</span>
                  <i class="fa fa-circle fa-fw"></i>
                  <span>{{videoDetail.video_time}}</span>
                </p>
              </div>
            </div>
          </div>
    
        </div>

    </div>        


  </div>
</div>